#title{
   text-align: center;
   font-family: 'UglyTypistRegular';
   font-weight: normal;
   font-style: normal;
   font-size: 200%;
   margin-top: 50px;
   margin-bottom: 50px;
   background-color: #A9A9A9
}
body {
background-image:url("https://images.unsplash.com/photo-1543092587-d8b8feaf362b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}


img {
margin: 10px 10px;
}

#container {
margin-top:20%;
margin-left:10%;
margin-right:10%;
margin-bottom:5%;
}

.row{
position:relative;
margin-left:10%;
margin-right:10%;
}

.white{
border: 1px solid black;
width: 10%;
height: 60px;
background-color:white;
float:left;
}

.black{
border: 1px solid black;
width: 10%;
height: 60px;
background-color:#787878;
float:left;
}

.clear{
clear: both;
}

 
#footer {
border:solid 1px;
padding: 10px;
margin:10px;
}
